
.container {
	display: grid;
	grid-template-rows: 40px 1fr;
	gap: 12px;
	margin: 16px;
	width: 95%; max-width: 1000px;
}

.nav {
	grid-row: 1;
}

.content {
	grid-row: 2;
	padding: 12px;
}


@media (max-width: 768px) {
    .container {
        margin: 8px;
    }
}
